.header {
  display: grid;
  grid-template-columns: 1fr min-content 1fr;
  align-items: center;
  justify-items:flex-end;
  padding: 92px 50px;
  grid-column-gap: 41px;
}

.header__menu {
  white-space: nowrap;
  display: flex;
  list-style: circle;
  gap: 33px;
  font-size: 18px;
  font-family: "Raleway",Arial, sans-serif;
  font-style: normal;
  letter-spacing: 0.01em;
}

.header__links-list-item_no-bullit {
  list-style: none;
}

.header__links-list-item_no-bullit-href {
  text-decoration: none;
}

.header__logo {
  width: 136px;
}

.address {
  width: 240px;
  align-items: center;
  line-height: 24px;
  font-size: 18px;
  font-family: "Raleway";
  font-style: normal;
  letter-spacing: 0.01em;
  justify-items:flex-end;
}

.address > a {
  display: inline;
  text-decoration: none;
  border-bottom: 1px solid black;
}

.address > p {
  word-wrap: break-word;
}

/* ОНО ТЕБЕ НАДО секция  */

.cover {
  position: relative;
  padding: 165px 50px 50px;
  background-image: url(../images/cover.jpg);
  background-position: center;
  background-size: cover;
  z-index: 1;
  white-space: nowrap;

  
}

.overlay {
  position: absolute;
  inset: 0;
  background-color: rgb(0 0 0 / 0.6);
  z-index: -1;
}

.cover__title {
  line-height: 115px;
  display: flex;
  gap: 20px;
  flex-direction: column;
  color: white;
  text-transform: uppercase;
  font-size: 100px;
  letter-spacing: 0.3em;

}

.aligned-text {
  display: block;
  line-height: 100px;
}

.aligned-text_centered {
  text-align: center;
  /* padding-top: 8px; */
}

.aligned-text_right {
  text-align: right;
  /* padding-top: 3px; */
}

.letter-spacing-extended {
  letter-spacing: 0.6em;
}

.no-letter-spacing {
  letter-spacing: 0em;
}

.cover__description {
  display: flex;
  align-items: center;
  margin-top: 133px;
}

.cover__description-text {
  color: white;
  font-size: 22px;
  text-transform: uppercase;
  word-spacing: 0.8em;
  padding-left: 28px;
}

.bet-button {
  font-family: "Raleway",Arial, sans-serif;
  border: 1px solid currentColor;
  padding: 12px 32px;
  color: white;
  font-weight: normal;
  font-size: 22px;
  text-transform: uppercase;
  background-color: transparent;
  display: inline;
  margin-left: 87px;
}

/* секция Лоты */

.lots {
  padding: 183px 24px 1px 24px;
  /* height: 874px; */
  font-family: "Raleway";
  font-style: normal;
}

.lots__heading {
  font-size: 40px;
  text-transform: uppercase;
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  margin: 0 0 26px 40px;
}

.lots__card-list {
  display: flex;
  flex-wrap: wrap;
  gap: 25px;
}

.lots__card-list-item {
  flex-grow: 1;
  display: flex;
}

.card {
  width: 334px;
  min-height: 564px;/*    */
  color: #ffffff;
  display: flex;
  flex-direction: column;
  padding-bottom: 49px;
  background-position: center;
  background-size: cover;
  z-index: 1;
}

.card_type_film {
  position: relative;
  background-image: url(../images/card-lot-01.jpg);
  justify-content: space-between;
}

.card_type_book {
  position: relative;
  background-image: url(../images/card-lot-02.jpg);
  justify-content: center;
}

.card_type_picture {
  position: relative;
  background-image: url(../images/card-lot-03.jpg);
  justify-content: space-between;
}

.card__title {
  font-size: 22px;
  line-height: 120%;
  text-decoration-line: underline;
  text-transform: uppercase;
  padding: 50px 40px 0 40px;
}

.card__text {
  font-size: 20px;
  line-height: 120%;
  padding: 0 40px 0 40px;
}

.lots__look-more-link {
  display: block;
  font-size: 20px;
  line-height: 23px;
  font-family: "Raleway";
  font-style: normal;
  margin: 30px 0 0 40px;
  text-decoration: none;
  text-decoration-line: underline;
}

/* Секция  О нас  */

.about {
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 15px;
  padding: 144px 24px;
}


.about__logo {
  background-color: black;
  border-radius: 50%;
  height: 240px;
  width: 240px;
  margin: 34px 46px;
}

.about__logo-image {
  margin: 64px 45px;
  text-align: center;
  width: 62%;
}

.about__column-text {
  padding-top: 136px;
  display: flex;
  flex-direction: column;
  justify-content: start;
}

.about__title {
  font-family: "Raleway";
  font-style: normal;
  font-size: 40px;
  text-transform: uppercase;

}

.about__text {
  width: 688px;
  margin-top: 102px;
  font-family: "Raleway";
  font-style: normal;
  font-size: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  gap:20px ;
  letter-spacing: 0.009em;
  font-weight: 400;
  line-height: 24px;
}


/* Футер */

.footer {
  display: flex;
  justify-content: space-between;
  padding: 40px 50px;
  padding-bottom: 88px;
}

.footer__social-list {
  display: flex;
  justify-content: space-between;
}

.footer__menu-list-item {
  text-align: center;
  list-style: none;
  font-size: 18px;
  margin-left: 50px;
}

.footer__menu-link_active {
  text-decoration: none;
}

.footer__social-list-item {
  margin-left: 48px;
  list-style: none;
}

.footer__social-icon {
  width: 48px;
}
